.reportProblem_page {
    height: 50vh;
    padding: 20px 100px 20px 100px;
    background-color: #f9f9f9;
    color: #333;

}

.reportProblem_form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.submitButton {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
